.teachers-page{
  margin:8rem 0 12rem 0;
}

.teachers-header{
  display:inline-block;
  font-size:4rem;
  font-weight:500;
  line-height:5rem;
  border-bottom:0.1rem solid #000000;
  padding-bottom:1rem;
  margin-bottom:8rem;
}